.btn {
    padding: 0.25rem 0.5rem;
    outline: none;
    border: 1px solid var(--blue);
    background-color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: center;
    transition: all 200ms ease-in-out;
    font-size: inherit;
}

.btn:hover {
    background-color: var(--blue);
    color: white;
}