.toolbarContainer {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.iconContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plusIcon {
    height: 1.4rem;
    width: 1.4rem;
}

.controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 0.9rem;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.styleButton {
    color: black;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
    background-color: white;
    margin: 0 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 1.5rem;
}

.activeButton {
    background-color: #ccc;
}

.drawer {
    position: absolute;
    top: 0;
    left: 3rem;
    transform: translateY(-25%);
    background-color: white;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
    border-radius: 0.8rem;
    padding: 0.25rem;
}

.hide {
    display: none;
}